/*两个背景logo*/
.logo{float:left;width:340px; height:67px;display:inline; background :url(../Skin/Images/Logo/logo.jpg) no-repeat;}/*修改logo图片*/
.userinfo{float:right; text-align:right;width:auto; vertical-align:bottom;height:20px; padding:0 6px 0 0;position:absolute;right:0px; top:96px;}/*增加margin-top:96px;去掉height属性*/
/*.kylogo{float: left;width:180px;height:76px;background:url(../Skin/Images/Logo/kylogo.gif)}*/

.hrheader .header{height:116px;background-image:url("../Skin/SkinA/Images/portal_bg.gif");background-repeat:repeat-x;}/*50更改height:116 修改背景图片*/
.clogot{color:#002d59; float:left;height:50px;display:inline;width:auto;height:50;font-size:42px;font-weight:bolder;line-height:50px;font-family:"宋体";position:absolute;top: 30px;left:35%;}

/*Agreement*/
.agreebody{ background:url(../Skin/Images/bgpic.jpg) repeat; margin:0 2px;}
.whiteheader{ background-color:#fff;}
/*新添加样式*/
.xytext{ border:1px solid #b0b0b0; background:url(../Skin/Images/xytext_bg.png) repeat-x #fff; height:385px; margin-top:18px; font-family:Microsoft YaHei; font-size:16px; font-weight:bold; line-height:30px; padding:10px 5px 5px 10px; width:80%;}
.xyinput{ background:url(../Skin/Images/xyinput_bg.png) no-repeat; border:none; height:23px; line-height:23px; width:52px;}
