.country-list-wrap {
  display: none;
  z-index: 999;
  position: absolute;
  left: -60px;
  top: 42px;
  width: 250px;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1); }

.country-search-wrap {
  position: relative;
  margin: 20px auto 0;
  width: 210px; }

.country-search-wrap:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 8px;
  width: 9px;
  height: 9px;
  border: 2px solid #6b777d;
  border-radius: 50%; }

.country-search-wrap:after {
  content: "";
  position: absolute;
  left: 20px;
  top: 18px;
  width: 2px;
  height: 6px;
  border-radius: 50%;
  background-color: #6b777d;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

input.country-search {
  margin: 0 auto;
  padding: 8px 0 8px 33px;
  width: 210px;
  font-size: 12px !important;
  line-height: 14px !important;
  background-color: #f5f6f7;
  border-radius: 15px;
  border: none;
  box-sizing: border-box; }

input.country-search::-webkit-input-placeholder {
  color: #989898 !important; }

input.country-search:-ms-input-placeholder {
  color: #989898 !important; }

input.country-search::placeholder {
  color: #989898 !important; }

.country-list ul {
  overflow: auto;
  margin-top: 10px;
  padding-bottom: 24px;
  height: 339px; }

@media only screen and (max-height: 900px) {
  .country-list ul {
    height: 260px; } }

.country-list li {
  position: relative;
  padding: 0 20px;
  font-size: 12px;
  line-height: 31px;
  text-align: left; }

.country-list-title {
  color: #989898; }

.country-list-item {
  display: list-item;
  color: #818181; }

.country-list-item:hover {
  background-color: #f5f6f7;
  cursor: pointer; }

.country-list-code {
  position: absolute;
  right: 12px;
  text-align: right; }

.country-list ul::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #a1aab7;
  background-clip: padding-box;
  border: solid transparent 2px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  background-color: transparent; }

@media (max-width: 768px) {
  .login-container {
    width: 100%; }
  ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  #country-list {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: .9rem;
    bottom: 0;
    left: 0;
    font-size: 0.16rem;
    font-family: Microsoft YaHei;
    background-color: #fff;
    z-index: 99999; }
  .country-close {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    padding-left: .27rem;
    width: 100%;
    font-size: .3rem;
    line-height: .9rem;
    height: 0.9rem;
    color: #3cbaff;
    background-color: #fff; }
  #country-list h2 {
    font-weight: normal;
    color: #3cbaff;
    text-align: right;
    position: fixed;
    top: 0;
    font-size: 0.3rem;
    height: 0.4rem;
    width: 100%;
    background-color: #ccc;
    right: 0;
    margin: 0;
    z-index: 200; }
  #country-ul {
    position: absolute;
    left: 0;
    font-size: 0.32rem;
    width: 100%;
    top: 0;
    font-size: .3rem;
    color: #3f3f3f; }
  #country-ul li {
    display: list-item;
    position: relative;
    padding: 0 .56rem 0 .27rem; }
  #country-ul .getCode {
    height: 0.89rem;
    line-height: 0.89rem; }
  #country-ul .getCode:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 1px;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #e0e0e2; }
  #country-ul span.zonecode {
    position: absolute;
    right: .56rem; }
  #country-ul li.startOrigin,
  #country-ul li.recommend {
    font-size: .3rem;
    line-height: .48rem;
    height: .48rem;
    border: none;
    background-color: #f4f5f9; }
  #country-ul li.startOrigin:after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 200%;
    height: 2px;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #fff; }
  #rightBar {
    width: 5%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: transparent;
    z-index: 9999; }
  #rightBar li {
    display: block; }
  #cancel {
    font-weight: normal;
    color: #3cbaff;
    text-align: right;
    position: fixed;
    top: 0;
    font-size: 0.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    right: 0;
    margin: 0;
    z-index: 200;
    background: #ccc;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%; }
  #cancel span {
    float: left; }
  .fixed {
    position: fixed;
    top: 0;
    left: 5%;
    background-color: #fff; } }
