/* CUSTOM_LOGIN_VERSION $Id: MAlogin_main.css 5318 2013-06-08 02:29:25Z jiaxiaohua $ */
/* CSS Document */

				.mainBox .left {float:left;}
				.mainBox .right {margin-right:70px;float:right;}
				.mainBox .midLogin {margin:0 auto;}
				.mainBox .clear {clear:both;}
				.mainBox .defaultWid {width:1024px;margin:0 auto;height:70px;position:relative}
					
               	.mainBox .pageHeader {width:100%;height:70px;float:left;margin: 0 0 5px;position:relative;}
				.mainBox .pageHeader .defaultWid span {display:inline-block;float:left;}
				.mainBox .pageHeader .logo {/*width:160px;height:72px;margin-top: 14px;*/width:165px;height:60px;background:none;}
				/*.mainBox .pageHeader .desc {color: #999b9d;width: 175px;height: 12px;overflow: hidden;margin-top: 59px;}*/
				.mainBox .pageHeader .desc {color: #999b9d;position: relative;width: 400px;height: 15px;line-height:15px;overflow: hidden;left: 0;margin-top: 50px;margin-left:50px;}
				
				.mainBox .pageSection {width:100%;height:460px;background:#1067ba;margin:0 auto;float:left;}
				.mainBox .pageSection .defaultWid{width:1200px;padding:0;*padding-bottom:0;}
				.mainBox .pageSection .imgBox {width:784px;height:460px; overflow:hidden;}
				.mainBox .pageSection .imgBox img {vertical-align:middle;}
				.mainBox .pageSection .loginBox {width:340px;min-height:240px;margin-top:60px;background: #fff; border-radius: 5px;overflow:hidden}		
				.mainBox .pageSection .imgBox.right{margin-right: -30px;}
				.mainBox .pageSection .loginBox.left{ margin-left: 90px; right: 0;}

				.defaultWid .nav{float:right; margin-top:45px;font-size:14px; max-height:22px; overflow:hidden; display:none; vertical-align:middle;text-align:right}
				.defaultWid .nav li{display:inline-block;*display:inline;zoom:1; margin-left:30px;color:#0078d7 }
				.defaultWid .nav li a{color:#333333; text-decoration:none}
				.defaultWid .nav li a:hover{color:#0078d7}
				.defaultWid .nav .hotline{color:#999;font-size:14px;}
				.defaultWid .nav .hotline span{color:#0078d7; line-height: 1.2; font-size:18px; margin-right:10px; float:none}				
				.defaultWid .nav .otherLogin{height:20px; display:inline-block;*display:inline;zoom:1; margin-left:10px;font-size:12px; }
				.defaultWid .nav .otherLogin a,.defaultWid .nav .otherLogin span{width:20px;height:20px; background-image:url(../images/iconLogin.png); display:inline-block;*display:inline;zoom:1;*margin-left:5px; margin-bottom:-3px;float:none}
				.defaultWid .nav .otherLogin a:hover{ background-position:0 -20px}
				.defaultWid .nav .otherLogin span{background-position:0 -40px}
				.defaultWid .nav .otherLogin a.conference{background-position:-40px 0}
				.defaultWid .nav .otherLogin a.conference:hover{background-position:-40px -20px}
				.defaultWid .nav .otherLogin span.conference{background-position:-40px -40px}
				.defaultWid .nav .otherLogin a.drive{background-position:-20px 0}
				.defaultWid .nav .otherLogin a.drive:hover{background-position:-20px -20px}
				.defaultWid .nav .otherLogin span.drive{background-position:-20px -40px}
				.defaultWid .nav .otherLogin a.cast{background-position:-60px 0}
				.defaultWid .nav .otherLogin a.cast:hover{background-position:-60px -20px}
				.defaultWid .nav .otherLogin span.cast{background-position:-60px -40px}
					
				/*login*/
				.loginBox {width:336px;_width:332px;background:#fff;}
				.panes {padding:15px 28px 20px;}
				.lightInputTxt {color:#ccc;}
				.darkInputTxt {color:#333;}
				
				ul.tabs {height:50px;}
				ul.tabs li {float:left;text-indent:0;list-style-image:none !important;box-sizing:border-box; width:50%;}
				ul.tabs a {/*width:169px;*/height:50px;line-height:50px;display:block;background: url(../images/tabBg.png) repeat-x;border: 1px solid #D0D0D0;color:#999999;font-size:14px;border-top: 0;text-align:center;text-decoration:none;}
				ul.tabs a:hover {color:#333333;text-decoration:none;}
				ul.tabs a:active {outline:none;}
				ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {background:#fff;cursor:default !important;color:#333333 !important;border:none}
				ul.tabs a.current2 {background:red;}
				
				.input_width_domain {width:306px;height:36px;margin:20px 0 0 0;_margin:10px 0;position:relative}
				.input_width_domain .accountInputUser {width:191px;_width:188px;_float:left;height:34px;line-height:34px;float:left;border:1px solid #d5dbe4;text-indent:40px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
				.input_width_domain .accountInput {width: 282px; height: 38px; float:left; line-height:38px; margin:0; border: 1px solid #d3d3d3;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;text-indent:40px;font-size: 14px}
				
				.input_width_domain .domain {width:76px;_float:left;height:34px;line-height:34px;color:#696a6b;padding:0 6px;display:inline-block;flaot:left;background:#eceeef;border:1px solid #d5dbe4;border-left:none;border-top-right-radius: 4px;border-bottom-right-radius: 4px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
				.input_width_domain .pswInput {width: 282px; height: 38px; float:left; line-height:38px; margin:0; border: 1px solid #d3d3d3;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;text-indent:40px;font-size: 14px}
				.btnLoginIn {display: block; text-align: center; color: #fff; background: #0076da; border:none; border-radius: 4px; width: 100%; line-height: 40px; font-size: 16px; box-shadow: 0px 5px 5px #d2e9fe; cursor:pointer; text-decoration:none}
				.btnLoginIn:hover {background:#4aa0f8;}				
				.btnLoginIn:active {background:#0271cf;}	
				
				.user_icon,.pwd_icon{display: block; width: 18px; height: 18px; margin:11px 10px; background: url(../images/loginimg.png) 0 0px no-repeat; position:absolute; top:0; left:0}
				.pwd_icon{background-position: 0 -18px;}

				
				
				p.btn_domain, p.btn_domain a {color:#6c6c6c;text-decoration:none;line-height:40px}
				p.btn_domain a {*margin-top:-18px;_margin-top:-18px;}
				p.btn_domain a:hover{text-decoration:underline;}

				p.login_bott {height:39px;line-height:39px;color:#333333;background: #f3f6f7 none repeat scroll 0 0;text-decoration:none;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;padding:0 27px}
				.dropdown_lang,.dropdown_lang:hover{ background: url(../images/arrow.gif) no-repeat right center; padding-right: 15px; float:right}
				.dropdown_lang_up,.dropdown_lang_up:hover{background: url(../images/arrowup.gif) no-repeat right center;}

				#tab2 .manager {height:22px;}
				#tab2 .manager span {margin-right:25px;color:#6c6c6c;display:block;float:left;height:22px;}
				#tab2 .manager span input, .manager span label{float:left;}
				#tab2 .manager span label {margin:1px 0 0 2px;}
				
				#tabAdmin .manager {height:22px;}
				#tabAdmin .manager span {margin-right:25px;color:#6c6c6c;display:block;float:left;height:22px;}
				#tabAdmin .manager span input, .manager span label{float:left;margin:3px 0 0 0}
				#tabAdmin .manager span label {margin:1px 0 0 2px;}
				
				.securityInput {display:none;}
					
				.mainBox .pageBottom {width:100%;float:left;margin:12px 0 0 0;color:#999b9d;text-align:center;}
				.mainBox .pageBottom p {margin:5px 0 8px 0;color:#999999}
				.mainBox .pageBottom a {color:#666666;text-decoration:none;display:inline-block;*display:inline;zoom:1; padding:0 10px}
				.mainBox .pageBottom a:hover {text-decoration: none;color:#333333}
				
				
				
/* 第三个布局 */
/*.layout_Bgcolor {background:#e7edf9;} */
.layout_Bgcolor .pageHeader {margin:0;padding:15px 0; background-color:#ffffff}
.layout_Bgcolor .pageBottom {margin:0;padding:12px 0 24px 0; background-color:#ffffff}
.layout_Bgcolor .pageSection {background:none;}
/*.layout_Bgcolor .pageHeader .defaultWid {width:336px;} */
.layout_Bgcolor .pageSection .defaultWid {padding:0;}
/*.layout_Bgcolor .defaultWid span.desc{position: relative;width: 400px;height: 15px;line-height:15px;overflow: hidden;left: 180px;margin: -12px;}*/


.layout_border_logo{width:156px;height:62px;border:5px dotted #ababab;position:relative;left:-4px;top:15px;display:none;
*float:left;*margin-left:-565px;_margin-top:-30px;}

.layout_border_Img {width: 376px;height: 240px;border: 5px dotted #ababab;position:relative;margin-left:-380px;float:left;display:none;}
.layout_border_Img_layout2 {width:376px;height:240px;border:5px dotted #ababab;position:relative;margin-right:-370px;float:right;display:none;}

.layout_border_conpanyTxt {width:436px;height:35px;border: 5px dotted #ababab;position:relative;top:42px;left:156px;/*margin:35px 0 0 156px;*/display:none;
*top:-33px;}

.layout_border_copright {width:700px;height:30px;border:5px dotted #ababab;position:relative;left:35px;top:-30px;/*margin:-35px 0 0 210px;*/display:none;
}
.layout_border_links {width:700px;height:20px;border:5px dotted #ababab;position:relative;left:35px;top:-55px;/*margin:-35px 0 0 210px;*/display:none;
}
/*
.layout_border_logo_layout3{width:165px;height:72px;border:5px dotted #ababab;position:relative;margin-left:-4px;display:none;
*float:left;*margin:-70px 0 0 -5px;}
.layout_border_conpanyTxt_layout3 {width:136px;height:35px;border:5px dotted #ababab;position:relative;margin: 0 0 0 156px;top: 35px;display:none;
*margin:-70px 0 0 160px;}
*/


.pageBottom .defaultWid span.freeUse {background: url("/custom_login/images/icons_flags.gif") repeat scroll 0 -452px transparent;display:inline-block;height: 32px;line-height: 24px;margin: 7px 10px 0 -7pxpadding: 0 0 0 18px;width:86px;}
.pageBottom .defaultWid span.freeUse a {color:#fff;}

.checkSafety {float:left}
.clearTrace {cursor:pointer;float:right}

#sslSafeLogin,#sslAdminSafeLogin{padding-left: 3px;}
#safelogin,#safeloginMa{margin: 0px 0 2px;}